h1 {
  text-align: center;
  color: rgb(71, 97, 145);
}

img {
  width: 50%;
  display: block;
  margin: auto;
  
}

.home-img {
  height: 42vw;
  object-fit: cover;
}

/* 
#home-image {
}
#show-image 
*/

nav {
  background-color: rgb(71, 97, 145);
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

body {
  background-color: whitesmoke;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}



#index-a:link {
  color: rgb(71, 97, 145);
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
}

/* Index CSS */
.rest-indeximg {
  width: 30%;
}